*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, main {
    width: 100%;
}
h1, h2, h3, h4, p, li {
    font-family: 'Quicksand', sans-serif;
    color:#3a4d5c;
}
li {
    font-size:13px;
    margin:5px;
}
.box{
    display:flex;
    justify-content:center;
    align-items:center;
    height:1000px;
    background-color:#efefef;
   border: 1px solid black;
}
.block_glavn{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    border: 1px solid red;
}
.block_left{
    background-color:#37b0ae;
    transform: translate(4%, 0px);
    border: 1px solid black;
}
.block_left-img{
    transform: translate(-12%, 14%);
    width:350px;
}
.block_left-img__camera{
    width:350px;
}
.block_left-img__shadow{
    width:450px;
    margin-top: -180px;
}
.block_center{
    transform: translate(-13px, 7px);
    position:absolute;
    z-index: 2;
}
.block_right{
    border: 1px solid black;
    padding:20px 0 20px 20px;
    background-color:white;
    width: 413px;
    transform: translate(3%, 0%);
}
ul{
    margin: 0 0 0 45px;
}
li{
    color:green;
    list-style: square outside;
}
li span{
    color:#3a4d5c;
    list-style: square outside;
}

.block_right h1{
    padding:30px 0 0 35px;
}
.block_right h3{
    padding:0 0 10px 35px;
}
.block_right h4{
    padding:20px 0 0 35px;
}
.block_right p{
    padding:5px 0 5px 35px;
}
.block_right__IN {
    padding:20px 0 0 35px;
}
.img_verh{
    box-shadow:	0 0 13px black;
    margin-top:10px;
    width:70px;
    height:70px;
}
.img_verh:hover{
    transform: scale(8);
    right: 200px;
    top: 87px;
    position: relative;
    background: white;
    width: 60px;
    height: 75px;
    box-shadow:	0 0 1px black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_center{
    box-shadow:	0 0 13px black;
    margin-top:10px;
    width:70px;
    height:70px;
}
.img_center:hover{
    transform: scale(8);
    right: 200px;
    top: 7px;
    position: relative;
    background: white;
    width: 60px;
    height: 75px;
    box-shadow:	0 0 1px black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_niz{
    box-shadow:	0 0 13px black;
    margin-top:10px;
    width:70px;
    height:70px;
}
.img_niz:hover{
    transform: scale(8);
    right: 200px;
    top: -72px;
    position: relative;
    background: white;
    width: 65px;
    height: 75px;
    box-shadow:	0 0 1px black;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img_verh img, .img_center img{
    width: 100%;
    transition:.5s;
    margin-top: 8px;
}

.img_niz img{
    margin: 10px;
    width: 80%;
}

table{
   border-collapse: collapse;
    margin:0 0 20px 35px;
}
tr, th{
border:1px solid black;
 width:25px;
    height: 25px;
}
.znak:hover{
    background:grey;
    color:white;
}
.block_right__Add{
    display:flex;
    justify-content: space-around;
    padding:15px 0 0 30px;
}
.block_right__Add_Cart{
    display:flex;
    background-color:#37b0ae;
    width:40%;
    align-items:center;
    justify-content:center;
}
.block_right__Add_Cart:hover{
    background-color:grey;
    color:black;
}
p.block_right__Add_Cart{
    color:white;
    padding:5px;
}

.block_right__Add_List{
    display:flex;
    border:1px solid black;
    width:40%;
    align-items:center;
    justify-content:center;
}
.block_right__Add_List:hover{
    background-color:grey;
}
p.block_right__Add_List{
    padding:5px;
}
p.block_right__Add_List:hover{
    color:white;
}
p.logo{
    position:absolute;
    color:white;
    left: 75px;
    top: -47px;
    font-family: 'Blinker', sans-serif;
    font-weight:700;
}

@media screen and (max-width:1000px){

    .box{
        border: 1px solid black;
        height:1300px;
        background: white;
    }
    .block_glavn{
        border: 1px solid black;
        flex-direction:column;
    }
    .block_left{
        border: 1px solid black;
        transform: translate(0%, 0px);
        width: 500px;
        height:550px;
        margin:0;
    }
    .block_left-img {
        transform: translate(17%, 14%);
    }
    .block_center{
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-around;
        width:270px;
        transform: translate(-1%, -63px);
    }
    .block_right{
        transform: translate(0%, 0px);
    }

    .img_verh, .img_center, .img_niz {
        background: rgba(255, 255, 255, 0.5);
    }
    p.logo {
        left: -15px;
        top: -47px;
    }
}

@media screen and (max-width:770px){
    .box{
        height: 1200px;
    }
    .block_left{
        max-width: 470px;
        margin:0;
    }
    .block_left-img__camera {
        max-width: 310px;
    }
    .block_left-img {
        transform: translate(24%, 14%);
    }
}

@media screen and (max-width:500px){
    .block_left{
       max-width: 450px;
    }
    .block_right {
        width: 450px;
        padding: 0;
    }
}

@media screen and (max-width:450px) {
    .block_left {
        max-width: 380px;
    }
    .block_left-img {
        transform: translate(13%, 14%);
    }
    .block_right {
        width: 380px;
    }
}
@media screen and (max-width:400px) {
    .box{
        height: 1100px;
    }
    .block_left {
        max-width: 343px;
        height: 460px;
    }
    .block_left-img {
        transform: translate(10%, 14%);
    }
    .block_left-img__camera {
        max-width: 274px;
    }
    .block_left-img__shadow {
        width: 388px;
        margin-top: -160px;
    }
    .block_center {
        transform: translate(-1%, -116px);
    }
    .block_right {
        width: 343px;
    }
}
@media screen and (max-width:400px) {
    .block_left {
        max-width: 320px;
    }
    .block_right {
        width: 320px;
    }
}