
.header_left a{
    font-size: 120%;
}
#text_logo {
    position: absolute;
    margin: 0px;
}
.header_left{
    margin-left: 7%;
    font-size: 250%;
    }
.header_right{
    float:right;
    width: 50%;
    margin-top: -30px;
    margin-right: 7%;
    font-weight: 900;
}
.meny{
    float:right;
}
.header_right a{
    padding-right:40px;
}
#Products{
   /* position: absolute;*/
    border-bottom: 3px solid #5094f2;
    padding-top: 14px;
    width: 60px;
}
.blok_1{
    display:block;
    /* display:flex;
     flex-direction: row;*/
    height: 80px;
    margin-left:2%;
  /*  width: 80%;*/
}
.blok_2, .blok_3, .blok_4, footer, header {
    margin-left:10%;
    width: 80%;
}
.blok_2 img{
    width:100%;
}
.blok_2_m img{
    display: none;
}
.blok_3{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.vnyt_blok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
}
.vnyt_blok h3, p{
    margin: 0;
}
.blok_4{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.blok_4_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
}
.blok_4_2 {

    width:50%;
    margin-top:20px;
}
.blok_4_2 h3{
      padding-bottom:10px;
}
.blok_4_2 p{
    padding-top:10px;
}
footer{
    border-top: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 80px;
}
p, a, h1, h2 {
    color: #6c6c6c;
    font-family: 'Darker Grotesque', sans-serif;
}
h3{
    color:#5094f2;
    font-family: 'Darker Grotesque', sans-serif;
}
/*@media screen and (max-width:780px){
    .blok_2 img{
        display: none;
    }
    .blok_2_m img{
        width:100%;
    }

    .blok_3{
        display:block;
        margin:0%;
    }
     .vnyt_blok{
         float:left;
           }

    .blok_2, .blok_3, .blok_4, footer, header {

              }

}*/