
.header_left a{
    font-size: 120%;
}
#text_logo {
    position: absolute;
    margin: 0px;
}
.header_left{
    margin-left: 7%;
    font-size: 250%;
    }
.header_right{
    float:right;
    width: 50%;
    margin-top: -30px;
    margin-right: 7%;
    font-weight: 900;
}
.fa.fa-bars {
    display:none;
}
.meny{
    float:right;
}
.header_right a{
    padding-right:40px;
}
#Products{
    border-bottom: 3px solid #5094f2;
    padding-top: 14px;
    width: 60px;
}
.blok_1{
    display:block;
    height: 80px;
    margin-left:2%;
}
.blok_2, .blok_3, .blok_4, footer, header {
    margin-left:10%;
    width: 80%;
}
.blok_2 {
    background:url("../img/fone_1.jpg");
    width:80%;
    height: 400px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.blok_2 p{
    color:white;
}
.fa{
    font-size:80px;
    color:white;

}
.fa.fa-check-square{
    font-size:25px;
    margin-right:8px;

}
.blok_2-icon{
    display:flex;
    flex-direction:row;
    background:#5094f2;
    margin:20px 20px 20px 10px;
    padding:5px 5px;
    width: 55%;
}
.blok_2 img{
    height:350px;
}

.blok_3{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.vnyt_blok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
}
.vnyt_blok h3, p{
    margin: 0;
}
.blok_4{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.blok_4_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
}
.blok_4_2 {

    width:50%;
    margin-top:20px;
}
.blok_4_2 h3{
      padding-bottom:10px;
}
.blok_4_2 p{
    padding-top:10px;
}
footer{
    border-top: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 80px;
}
p, a, h1, h2 {
    color: #6c6c6c;
    font-family: 'Darker Grotesque', sans-serif;
}
h3{
    color:#5094f2;
    font-family: 'Darker Grotesque', sans-serif;
}
@media screen and (max-width:1000px){
    .header_right{
        display:none;
    }
    .fa.fa-bars {
       display:inline-block;
        color: white;
        background: #5094f2;
        float: right;
        margin:15px 50px 0 0;
        padding: 10px 10px 10px 10px;
        font-size: 35px;
    }
    .header_left {
        margin-left:0;
    }
    .blok_3{
        display: flex;
        flex-direction: column;
        margin:0;
    }
     .vnyt_blok{
          display: block;
          width:100%;
          text-align:left;
         border-bottom: 1px solid grey;
      }
    .vnyt_blok h3 {
        font-size:200%;
        margin-top:50px;
    }
    .vnyt_blok p {
        font-size:150%;
        margin:10px;
    }
    .vnyt_blok img{
        float:left;
        margin: 0 30px 3px 50px;
    }

    .blok_2{
        width: 100%;
        margin:0;
        justify-content: flex-start;
        height: 350px;
        font-size: 200%;
    }
    .blok_2 h2{
        margin: 0 0 5px 0;

    }
    .blok_2 img{
        height:300px;
        margin-right: 50px;
        margin-left: 50px;

    }
    .blok_2-icon{
        align-items: center;
        margin: 20px 20px 20px 0;
    }
    .blok_2-icon p{
        margin-bottom: 5px;
    }
    .blok_2-icon i{
        margin-left: 10px;
    }
    .fa.fa-angle-left, .fa.fa-angle-right {
    display:none;
    }
    .blok_3, footer, header {
        width: 100%;
        margin-left:0;
    }
    .blok_4 {
        flex-direction: column;
        margin-left: 10%;
        font-size:150%;
    }
    .blok_4 h1 {
        margin-bottom: 0;
    }
    .blok_4_1 {
        width: 80%;
        margin-left: 10%;
    }
    .blok_4_2{
        width: 100%;
        margin:0 0 50px 0;
    }
    .blok_4_2 h2{
        margin:0;
    }
    footer {
        font-size:150%;
    }
}

@media screen and (max-width:770px){
    .blok_2{
        font-size: 150%;
    }
    footer p{
        font-size:100%;
    }
}

@media screen and (max-width:670px){
    .blok_2{
        font-size: 100%;
        height: 300px;
    }
    footer p{
        font-size:100%;
    }
    .blok_2-icon{
        margin:20px 0 10px 0;
        width: 85%;
    }
    .vnyt_blok img{
        width:20%;
    }
    .vnyt_blok h3 {
        font-size: 150%;
        margin-top: 10px;
    }
    .vnyt_blok p {
        font-size: 120%;
    }
    .blok_4, footer{
        font-size: 120%;
    }
    .blok_2 img{
        height:250px;
    }

    @media screen and (max-width:530px){
        .blok_2 img{
            height:200px;
            margin-right: 30px;
            margin-left: 10px;
        }

    }
    @media screen and (max-width:530px){
        body{
            margin:0;
        }
        .blok_2{
            height: 250px;
        }
      .vnyt_blok h1{
            font-size: 100%;
            margin-top: 3px;
        }
        .vnyt_blok p{
            font-size: 100%;
            margin: 3px 0 3px 0;
        }
        .blok_4, footer{
            font-size: 100%;
        }
    }
    @media screen and (max-width:530px){
        body{
            margin:0;
            width:100%;
        }
        .blok_2 {
            width: 100%;
        }
    }
    @media screen and (max-width:420px){
        main, body{
            width:100%;
        }
        .blok_2 {
            width:100%;
        }
        .vnyt_blok{
            margin: 2px 5px 2px 5px;
        }
    }
    @media screen and (max-width:380px){
        body{
            width: 100%;
        }
        .blok_2 {
            width: 400px;
            font-size: 80%;
            height: 200px;
        }
        .blok_2 img{
            height:150px;
        }
        .blok_3, footer {
            width: 400px;
        }
        .vnyt_blok img{
            float:left;
            margin: 0 10px 3px 20px;
        }
        .vnyt_blok h3 {
            margin-top: 1px;
        }
    }
    @media screen and (max-width:321px){
        body{
            width: 370px;
        }
        .blok_2 {
            width: 400px;
            font-size: 80%;
            height: 160px;
        }
        .blok_2 img{
            height:110px;
        }
        .vnyt_blok{
            width: 100%;
        }
        .blok_3{
            width: 400px;
        }
        .blok_4{
            width: 360px;
            margin-left: 1%;
            margin-right: 1%;
        }

        .blok_4_1 img {
            width: 100%;
        }
        .blok_4_2{
            margin: 0 0 5px 15px;
        }
        footer{
            height: 40px;
        }
        .fa.fa-bars{
            margin: 15px 0 0 0;
        }
    }

}